<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a class="navbar-brand" ng-href="{{linkRoot}}">AlumniBook</a>
      </div>
      <ul class="nav navbar-nav"> 
        <li><a href="#/users"><span class="glyphicon glyphicon-user"></span> Members</a></li>
        <li><a href="#/topics"><span class="glyphicon glyphicon-list-alt"></span> Topics</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right qu-nav" ng-switch on="currentUser.isLogged">
        <li><a href="#/topics/create"><span class="glyphicon glyphicon-plus"></span> Create Topic</a></li>
        <!-- <li class="" ng-switch-when="true"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Lists</a></li>
        <li class="" ng-switch-when="true"><a href="/messages"><span class="glyphicon glyphicon-comment"></span> Messages</a></li>
        <li class="" ng-switch-when="true"><a ng-href="/products/create"><span class="glyphicon glyphicon-plus"></span> Create</a></li> -->
        <li class="dropdown" ng-switch-when="true">
          <a href="#" class="dropdown-toggle qu-dropdown" data-toggle="dropdown"> {{currentUser.data.username}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/users/{{currentUser.data.main_id}}"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
            <!-- <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Setting</a></li> -->
            <li><a href="/~Group3/logout.php" target="_self"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
          
        </li>
        <li ng-switch-when="false">
            <a href="#/users/login" target="_self"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li ng-switch-default>
          <a ng-href="#" ng-click=""></a>
        </li>
      </ul>
  </div>
</nav>