<div ng-include="'./javascripts/templates/partials/navbarHeader.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h4>Topic List with Tag : {{tagId}} <small><span class="glyphicon glyphicon-list-alt"></span> {{topics.length}}</small></h4>
            </div>
            <legend>
                <input type="text" class="form-control" placeholder="Search topic by title" ng-model="search.title">
            </legend>

            <div class="list-group">
              <a href="#/topics/{{topic.id}}" class="list-group-item" ng-repeat="topic in topics | filter:search">
                <div class="row">
                    <div class="col-md-10">
                        <h4 class="list-group-item-heading">{{topic.title}}</h4>
                        <p class="list-group-item-text text-info"><small>by {{topic.user.main_id}}</small> <span class="text-muted" am-time-ago="topic.created_at"></span></p>
                        <p class="list-group-item-text">{{topic.content}}</p>
                    </div>
                    <div class="col-md-2">
                        <span class="label label-info pull-right"><span class="glyphicon glyphicon-comment"></span> {{topic.comments_count}}</span>
                        <span class="label label-warning pull-right"><span class="glyphicon glyphicon-star"></span> {{topic.followers_count}}</span>
                        <span class="glyphicon glyphicon-star text-warning" ng-if="topic.current_user_following == true"></span>
                    </div>
                </div>
              </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="page-header">
                <h4>IM News</h4>
            </div>
            <div class="well">
                <a href="http://exp.management.ntu.edu.tw/IM">http://exp.management.ntu.edu.tw/IM</a>
            </div>
            <div class="page-header">
                <h4>New Members</h4>
            </div>
            <div class="list-group">
              <a href="#/users/{{user.main_id}}" class="list-group-item" ng-repeat="user in recentUsers">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h4 class="list-group-item-heading">{{user.username}}</h4> -->
                        <p class="list-group-item-text" ng-if="user.username"><strong>{{user.username}}</strong> <small>- {{user.main_id}}  <strong>{{user.user_type}}</strong></small><span class="badge pull-right">{{user.followers_count}}</span></p>
                        <p class="list-group-item-text" ng-if="!user.username"><strong>{{user.main_id}}</strong><span class="badge pull-right">{{user.followers_count}}</span></p>
                    </div>
                </div>
              </a>
            </div>
        </div>
    </div>
</div>
