<div ng-include="'./javascripts/templates/partials/navbarHeader.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-md-8" ng-if="topic">
            <div class="page-header">
                <h4>{{topic.title}}  <small>&nbsp&nbsp&nbspby <a ng-href="#/users/{{topic.user.main_id}}">
                    <strong ng-show="topic.user.username">{{topic.user.username}} - </strong> {{topic.user.main_id}}</small>
                    <a href="#/topics/{{topic.id}}/edit" class="btn btn-info btn-sm pull-right" ng-if="currentUser.data.id == topic.user.id"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                </a></h4>
                <p class="text-muted" am-time-ago="topic.created_at"></p>
                <div class="col-md-2 pull-right">
                    <span class="label label-info pull-right"><span class="glyphicon glyphicon-comment"></span> {{topic.comments_count}}</span>
                    <span class="label label-warning pull-right"><span class="glyphicon glyphicon-star"></span> {{topic.followers_count}}</span>
                </div>
                <div ng-if="topic.current_user_following != null">
                    <div class="btn btn-success btn-sm ladda-button" id="ladda-follow" data-style="expand-right" ladda data-ng-model="loading" ng-if="topic.current_user_following == false" ng-click="follow()">subscribe</div>
                    <div class="btn btn-default btn-sm ladda-button" id="ladda-unfollow" data-style="expand-right" ladda data-ng-model="loading" ng-if="topic.current_user_following == true" ng-click="unfollow()">unsubscribe</div>
                </div>
            </div>
            <p class="show-topic-content">{{topic.content}}</p>
            <div class="tags">
                <strong>標籤：</strong>
                <a ng-href="#/topics/tags/{{tag.name}}" ng-repeat="tag in topic.tags" class="label label-success tags-btn">{{tag.name}}</a>
            </div>
            <p>Created at : {{topic.created_at | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</p>
            

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Comments<span class="label label-info pull-right"><span class="glyphicon glyphicon-comment"></span> {{topic.comments_count}}</span></h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="comment in topic.comments">
                    <p class="text-muted text-left"><a ng-href="#/users/{{comment.user.main_id}}"><strong ng-show="comment.user.username">{{comment.user.username}} - </strong>{{comment.user.main_id}}</a>
                      <span am-time-ago="comment.created_at"></span></p>
                    <p>{{comment.comment}}</p>
                </li>
                </ul>
              </div>
              <div class="panel-footer" ng-show="currentUser.isLogged">
                <textarea class="form-control comment-area" rows="3" ng-model="comment.comment" placeholder="Comment..."></textarea>

                <div class="btn btn-primary ladda-button" data-style="expand-right" id="create-comment-submit" ladda data-ng-model="loading" ng-click="submitComment()"><span class="ladda-label">Submit</span></div>
              </div>
            </div>

        </div>

        <div class="col-md-4 pull-right">
            <div class="page-header">
                <h4>IM News</h4>
            </div>
            <div class="well">
                <a href="http://exp.management.ntu.edu.tw/IM">http://exp.management.ntu.edu.tw/IM</a>
            </div>
            <!-- <div class="page-header">
                <h4>New Members</h4>
            </div>
            <div class="list-group">
              <a href="#/users/{{user.main_id}}" class="list-group-item" ng-repeat="user in recentUsers">
                <div class="row">
                    <div class="col-md-11">
                        <p class="list-group-item-text" ng-if="user.username"><strong>{{user.username}}</strong> <small>- {{user.main_id}}</small><span class="badge pull-right">{{user.followers_count}}</span></p>
                        <p class="list-group-item-text" ng-if="!user.username"><strong>{{user.main_id}}</strong><span class="badge pull-right">{{user.followers_count}}</span></p>
                    </div>
                    <div class="col-md-1">
                        <span class="label label-info pull-right">{{topic.comments_count}}</span>
                    </div>
                </div>
              </a>
            </div> -->
        </div>
    </div>
</div>

<div ng-include="'./javascripts/templates/partials/navbarFooter.html'"></div>