@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,300italic,400italic);

body {
  font-family: 'Roboto','Helvetica Light', 'Helvetica', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
}

h1, h2, h3, h4, label, input {
  font-family: 'Roboto', sans-serif;
  /*font-weight: 100;*/
}

.show-topic-content {
    margin-bottom: 100px;
}

.comment-area {
    margin: 10px 0 10px 0;
}

.footer {
    margin-top: 10%;
}

.user-avatar-wrapper {
    height: 230px;
    width: 230px;
    overflow: hidden;
}

.img-user-avatar {
}

.header-personal-profile {
    margin-top: 90px;
}

.public-info p{
    display: inline;
}

.navbar-brand {
  font-weight: 400;
}
/*.img-user-avatar {
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    width:auto;
    height: 200px; 
}*/