<div ng-include="'./javascripts/templates/partials/navbarHeader.html'"></div>


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="page-header">
                <h3>User Login<small></small></h3>
            </div>

            <div class="alert alert-danger"><strong>登入失敗!</strong> 請<a href="/~Group3/login.php" target="_self">重新登入</a>，或是回到<a href="#/">首頁</a>繼續瀏覽
            </div>

            <a href="/~Group3/login.php" target="_self" class="btn btn-info btn-lg btn-block"><span class="glyphicon glyphicon-log-in"></span> Single Sign On</a>

            <!-- <form role="form" ng-submit="submit()">
              <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" ng-model="user.main_id" placeholder="Your id">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="user.password">
              </div>
              <button type="submit" class="btn btn-primary ladda-button" data-style="expand-right" id="login-submit" ladda data-ng-model="loading"><span class="ladda-label">Login</span></button>
            </form> -->
        </div>
    </div>
</div>