<div ng-include="'./javascripts/templates/partials/navbarHeader.html'"></div>


<div class="container">
    <div class="row">
        <div class="col-md-7" ng-show="profile">

            <div class="page-header">
                <h3 ng-if="profile.username">{{profile.username}}<small> {{profile.main_id}}</small>
                    <a ng-href="#/users/{{profile.main_id}}/followers"><small class="pull-right"> - follow by <span class="badge">{{profile.followers_count}}</span></small></a>
                    <p class="text-right">
                        <a href="#/users/edit" class="btn btn-info btn-sm" ng-if="currentUser.data.id == profile.id"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    </p>
                </h3>
                <h3 ng-if="!profile.username">{{profile.main_id}}<small></small>
                    <a ng-href="#/users/{{profile.main_id}}/followers"><small class="pull-right"> - follow by <span class="badge">{{profile.followers_count}}</span></small></a>
                    <p class="text-right">
                        <a href="#/users/edit" class="btn btn-info btn-sm" ng-if="currentUser.data.id == profile.id"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    </p>
                </h3>
                <div ng-if="profile.current_user_following != null">
                    <div class="btn btn-success btn-sm ladda-button" id="ladda-follow" data-style="expand-right" ladda data-ng-model="loading" ng-if="profile.current_user_following == false" ng-click="follow()">follow</div>
                    <div class="btn btn-default btn-sm ladda-button" id="ladda-unfollow" data-style="expand-right" ladda data-ng-model="loading" ng-if="profile.current_user_following == true" ng-click="unfollow()">unfollow</div>
                </div>
            </div>

            <div class="alert alert-danger" ng-show="error.message">{{error.message}}</div>
            
            <div class="public-info">
                <p><strong>Email : </strong> {{profile.email}}</p><br>
                <p><strong>Type : </strong> {{profile.user_type}}</p>
                <div class="user-avatar-wrapper pull-right" ng-show="profile.avatar">
                    <img src="{{apiRoot+profile.avatar}}" class="img-user-avatar img-thumbnail">
                </div>
            </div>

            <div class="page-header header-personal-profile" ng-show="profile.profile">
                <h4 class="">Personal profile</h4>
            </div>
            <p ng-show="profile.profile.first_name"><strong>Name : </strong> {{profile.profile.first_name}} {{profile.profile.last_name}}</p>
            <p ng-show="profile.profile.phone"><strong>Phone number : </strong> {{profile.profile.phone}}</p>
            <p ng-show="profile.profile.location"><strong>Location : </strong> {{profile.profile.location}}</p>
            <p ng-show="profile.profile.address"><strong>Address : </strong> {{profile.profile.address}}</p>


            <div class="page-header" ng-show="profile.careers">
                <h4 class="text-right">Experience & Career</h4>
            </div>

            <blockquote ng-repeat="career in profile.careers">
              <p ng-show="career.organization"><strong>{{career.organization}}</strong></p>
              <p ng-show="career.title">as  <strong>{{career.title}}</strong></p>
              <small ng-show="career.description">{{career.description}}</small>
            </blockquote>

            <div class="page-header" ng-show="profile.careers">
                <h4 class="text-right">Autobiography</h4>
            </div>
            <p>{{profile.autobiography}}</p>

        </div>

        <div class="col-md-5 pull-right">
            <div class="page-header">
                <h4>Topics from {{profile.username}} <small><span class="glyphicon glyphicon-list-alt"></span> {{topics.length}}</small></h4>
            </div>
            <div class="list-group">
              <a href="#/topics/{{topic.id}}" class="list-group-item" ng-repeat="topic in topics">
                <div class="row">
                    <div class="col-md-10">
                        <!-- <h4 class="list-group-item-heading">{{user.username}}</h4> -->
                        <p class="list-group-item-text"><strong>{{topic.title}}</strong> <small class="text-muted" am-time-ago="topic.created_at"></small></p>
                    </div>
                    <div class="col-md-1">
                        <span class="label label-warning"><span class="glyphicon glyphicon-star"></span> {{topic.followers_count}}</span>
                    </div>
                </div>
              </a>
            </div>

            <div class="page-header">
                <h4>{{profile.username}} following Topics <small><span class="glyphicon glyphicon-list-alt"></span> {{following_topics.length}}</small></h4>
            </div>
            <div class="list-group">
              <a href="#/topics/{{topic.id}}" class="list-group-item" ng-repeat="topic in following_topics">
                <div class="row">
                    <div class="col-md-10">
                        <!-- <h4 class="list-group-item-heading">{{user.username}}</h4> -->
                        <p class="list-group-item-text"><strong>{{topic.title}}</strong> <small class="text-muted" am-time-ago="topic.created_at"></small></p>
                    </div>
                    <div class="col-md-1">
                        <span class="label label-warning"><span class="glyphicon glyphicon-star"></span> {{topic.followers_count}}</span>
                    </div>
                </div>
              </a>
            </div>

            <div class="page-header">
                <h4>{{profile.username}} following Users <small><span class="glyphicon glyphicon-list-alt"></span> {{following_users.length}}</small></h4>
            </div>
            <div class="list-group">
              <a href="#/users/{{user.main_id}}" class="list-group-item" ng-repeat="user in following_users">
                <div class="row">
                    <div class="col-md-10">
                        <!-- <h4 class="list-group-item-heading">{{user.username}}</h4> -->
                        <p class="list-group-item-text"><strong>{{user.username}}</strong> <small class="text-muted">- {{user.main_id}}  <strong>{{user.user_type}}</strong></small></p>
                    </div>
                    <div class="col-md-1">
                        <span class="label label-warning"><span class="glyphicon glyphicon-star"></span> {{user.followers_count}}</span>
                    </div>
                </div>
              </a>
            </div>
        </div>
    </div>
</div>

<div ng-include="'./javascripts/templates/partials/navbarFooter.html'"></div>